
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
    background: url("/images/background.jpg");
}


.main {
    width: 97%;
    display: flex;
    margin: auto;
    background-color: #000;
    justify-content: space-between;
    border-top: 1px solid #9CA3AF;
}
